* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background: #fcfcfd;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__right ul {
  display: flex;
  gap: 32px;
}
.header__right button {
  background: #04b90b;
  color: white;
  width: 137px;
  height: 44px;
  border-radius: 8px;
  border: none;
}
header {
  padding: 34px;
}
.header__right li:first-child {
  color: #04b90b;
}
.header__right li a {
  color: #777e90;
  text-decoration: none;
}
.hero__right {
  position: relative;
}

.hero__bipimbap {
  position: relative;
  z-index: 3;
  background: none;
  right: 100px;
  top: 50px;
}

.hero__circle {
  position: absolute;
  z-index: 1;
  bottom: -7%;
  right: 10%;
  background: none;
}
.hero__sugar,
.hero__chopstick {
  position: absolute;
  background: none;
  z-index: 10;
}
.hero__chopstick {
  bottom: 10px;
  right: 100px;
}
.hero__sugar {
  top: 30px;
  right: 70px;
}
.hero {
  overflow: hidden;
}

.hero__content {
  display: flex;
}
.hero__left h1 {
  font-size: 72px;
  font-family: "Alice", sans-serif;
  font-weight: 400px;
}
.hero__desc {
  font-size: 24px;
  color: #777e90;
  font-family: "Poppins", sans-serif;
  margin: 12px 0 36px;
}
.hero__explore {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #04b90b;
}
.hero__explore button {
  background: #04b90b;
  color: white;
  width: 137px;
  height: 44px;
  border-radius: 8px;
  border: none;
}
.main {
  padding-top: 150px;
}
.hero__left__bottom {
  background: #f4f5f6;
  width: 576px;
  padding: 28px 56px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 16px;
  margin-top: 158px;
}
.hero__left__bottom h3 {
  color: #777e90;
  font-size: 32px;
}
.hero__left__bottom p {
  color: #777e90;
  font-size: 20px;
}
.hero__years {
  border-right: 1px solid #e6e8ec;
  padding-right: 60px;
}
.hero__line {
  width: 1px;
  height: 68px;
  background: #e6e8ec;
}
.offers {
  padding-top: 120px;
  padding-bottom: 80px;
  background: #fcfcfd;
}
.offers h2 {
  text-align: center;
  font-size: 48px;
  font-family: "Alice", sans-serif;
  margin-bottom: 12px;
}
.offers__description {
  text-align: center;
  color: #777e90;
  font-size: 24px;
}
.offers_special {
  color: #04b90b;
}
.offers__card {
  width: 340px;
  height: 481px;
  box-shadow: 0 10px 27px 0 rgba(53, 53, 53, 0.09);
  padding: 24px;
  border-radius: 15px;
}
.offers__rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
}
.offers__price {
  display: flex;
  justify-content: space-between;
}
.offers__title {
  font-weight: 400;
  font-size: 32px;
  font-family: "Alice", sans-serif;
}
.offers__price button {
  background: #04b90b;
  width: 117px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
}
.offers__price h3 {
  color: #04b90b;
  font-size: 40px;
  font-family: "Alice", sans-serif;
  font-weight: 400;
}
.swiper-slide-next .offers__card {
  transform: scale(1.2);
}
.offers__cards {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  padding: 80px;
}
.swiper-slide {
  padding-block: 30px;
}
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

#meals .container {
  padding: 60px 0;
}

.section__title {
  font-family: "Alice", sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-transform: capitalize;
  text-align: center;
  color: #23262f;

  margin-bottom: 107px;
}

.section__title span {
  color: #04b90b;
}

.proccesses__card {
  width: 313px;

  text-align: center;
}

.proccesses__card__title {
  font-family: "Alice", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.01em;
  color: #23262f;

  margin-top: 24px;
}

.proccesses__card__desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #353945;

  margin-top: 8px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;
}

.swiper-slide.swiper-slide-active {
  box-shadow: 0 10px 27px 0 rgba(53, 53, 53, 0.05) !important;
  background: #fff !important;
}
footer {
  width: 1440px;
  margin: 200px;
}
.footer {
  padding: 61px 78px 0 92px;
  display: flex;
  gap: 150px;
}
.one__kolonka p {
  width: 336px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #777e90;
}
.footer li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #777e90;
  margin-bottom: 24px;
}
.one__kolonka img {
  margin-left: 95px;
}
.first {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #000 !important;
}

@media (max-width: 500px) {
  .header__nav {
    display: flex;
  }
  .header__nav img {
    width: 59px;
    height: 18px;
  }
  .container {
    padding: 0 24px;
  }
  .header__right {
    display: none;
  }
  .header__right.active {
    display: flex;
    flex-direction: column;
    background: #fcfcfd;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
  }
  .header__right.active ul {
    flex-direction: column;
    font-size: 60px;
    background-color: #fcfcfd;
  }

  .header__right.active li,
  .header__right.active a {
    background-color: #fcfcfd;
  }
  .header__right.active button {
    font-size: 30px;
    width: 250px;
    height: 100px;
  }
  .header__right.active h1 {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    color: #04b90b;
    background-color: #fcfcfd;
  }
  .header__right.active h1:hover {
    cursor: pointer;
    color: khaki;
  }

  .header__burger {
    width: 16px;
    height: 2px;
    background: #777e90;
    border-radius: 10px;
    display: block;
    position: relative;
  }

  .header__burger::after {
    width: 16px;
    height: 2px;
    background: #777e90;
    border-radius: 10px;
    content: "";
    display: block;
    position: absolute;
    top: 6px;
  }
}

@media (max-width: 650px) {
  .header__nav img {
    width: 59px;
    height: 18px;
  }
  .container {
    padding: 0 24px;
  }
  .header__right {
    display: none;
  }
  .header__burger {
    width: 25px;
    height: 3px;
    background: #777e90;
    border-radius: 10px;
    display: block;
    position: relative;
  }
  .header__burger::after {
    width: 25px;
    height: 3px;
    background: #777e90;
    border-radius: 10px;
    content: "";
    display: block;
    position: absolute;
    top: 6px;
  }
}

@media (max-width: 700px) {
  .header__nav img {
    width: 90px;
    height: 25px;
  }
}
@media (max-width: 700px) {
  .footer__img {
    width: 70px;
    height: 30px;
  }
  .footer {
    gap: 20px;
  }
  .one__kolonka p {
    width: 200px;
  }
}
@media (max-width: 900px) {
  .footer__img {
    width: 100px;
    height: 50px;
  }
  .footer {
    gap: 30px;
  }
  .one__kolonka p {
    width: 240px;
  }
}
